.angled-block {
  width: 100vw;
  height: 200px;
  position: relative;
  margin-top: 80px;
  margin-bottom: 300px;

  &.short {
    width: 10vw;
  }

  &.left {
    margin-left: -1px;
    transform: rotate(45deg);
    transform-origin: bottom left;
  }

  &.right {
    margin-left: auto;
    transform: rotate(-45deg);
    transform-origin: bottom right;
    & > * { transform: rotate(45deg); }
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: 200px solid black;
  }

  &.left::before {
    left: -399px;
    border-left: 200px solid transparent;
    border-bottom: 200px solid transparent;
  }

  &.right::before {
    right: -399px;
    border-right: 200px solid transparent;
    border-bottom: 200px solid transparent;
  }

  &:first-of-type {
    display: none;
    @include tablet-landscape-up { display: block; }
  }

  @include tablet-portrait-up {
    width: 60vw;
    height: 400px;
    margin-top: 100px;
    margin-bottom: 350px;
  }

  @include tablet-landscape-up { 
    width: 50vw;
    margin-top: -100px;
    &:first-of-type { margin-top: -900px; }
  }

  .arrow {
    display: none;
    
    @include tablet-landscape-up { 
      display: block;
      font-size: 4rem;
      color: inherit;
      position: absolute;

      &.right {
        transform: rotate(0) translateY(-50%);
        top: 50%;
        left: -200px;
      }

      &.left {
        transform: rotate(180deg) translateY(-50%);
        top: 25%;
        right: -202px;
      }

      &:after {
        content: '';
        border-width: 5px;
        border-style: dashed;
        border-color: inherit;
        position: absolute;
        height: 0;
        width: 175px;
        top: 1.6rem;
        left: 1.6rem;
      }
    }
  }

  .number {
    position: absolute;
    transform: rotate(-45deg);
    display: block;
    line-height: 50px;
    font-size: 50px;
    font-family: $heading-font;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    top: 10px;
    color: inherit;
  }

  &.right .number {
    right: 0;
    transform: rotate(45deg);
  }
  
  .image {
    width: 300px;
    transform: rotate(-45deg);
    margin-top: -120px;
    margin-left: 30px;
  }

  &.right .image {
    position: absolute;
    transform: rotate(45deg);
    margin-top: -40px;
    right: 90px;
  }

  .text {
    position: absolute;
    transform: rotate(-45deg);
    width: 600px;
    max-width: 80vw;
    color: black;
    padding: 1rem;
    left: 80px;
    top: 100px;
    background: $colour-5;
    border-radius: 20px 20px 20px 0px;

    h3 { font-size: 1.5rem; }
    p { font-size: 1.4rem; }
    
    @include tablet-portrait-up { 
      left: 197px;
      top: 272px;
      width: 500px;
     }
    @include tablet-landscape-up { 
      left: 149px;
      top: 193px;
    }
    @include desktop-up { 
      left: 401px;
      top: -74px;
    }
  }

  &.right .text {
    position: absolute;
    transform: rotate(45deg);
    left: -40px;
    top: 159px;
    background: $colour-5;
    border-radius: 20px 20px 0px 20px;

    @include tablet-portrait-up { 
      bottom: 41px;
      right: 119px;
      left: unset;
      top: unset;
    }
    @include tablet-landscape-up { 
      bottom: 66px;
      right: 148px;  
    }
    @include desktop-up { 
      bottom: 300px;
      right: 350px;
    }
  }

  .buttons {
    display: none;
    transform: rotate(-45deg);
    transform-origin: bottom left;
    position: absolute;
    left:0;
    top:0;

    @include tablet-portrait-up { 
      display: block;
      left: 415px;
      top: 571px;
    }

    > * {
      margin-bottom: 1rem;
    }
  }

  &.right .buttons {
    transform: rotate(45deg);
    transform-origin: bottom right;
    top: unset;
    left: unset;
    bottom: 0;
    right: 0;

    @include tablet-portrait-up { 
      bottom: -298px;
      right: 301px;
    }
  }
}